body {
  background-color: #e7bb41;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: white;
}

.link {
  border: none;
  background-color: transparent;
  font-weight: 800;
  text-decoration: underline;
}

.permission-title {
  font-weight: 900;
}

.question {
  font-size: 4em;
  font-weight: 800;
  text-align: left;
}

.review-title {
  font-size: 3.5em;
  font-weight: 700;
}

.prompt {
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 2em;
}

.steps {
  margin-bottom: 2em;
}

.number {
  font-size: 2.3em;
  font-weight: 900;
  text-align: left;
}

.step-text {
  font-size: 1.5em;
  vertical-align: text-bottom;
  text-align: left;
}

.button {
  font-size: 1.3em;
}

.media-btn {
  padding: 1em;
  margin-right: 2em;
}

.btn-text {
  display: inline;
  font-size: 1.3em;
  vertical-align: middle;
}

.icon {
  margin-right: 5px;
  font-size: 1.6em;
  vertical-align: bottom;
  margin-right: 8px;
}

.mic {
  margin-right: 5px;
  font-size: 1.5em;
  align-self: baseline;
}

/* Media Query */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .question,
  .prompt,
  .step-text {
    text-align: center;
  }
  .number {
    margin-bottom: 5px;
    position: relative;
  }
  .step-text {
    text-align: left;
    /* margin-left: 2em; */
  }
  .media-btn {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}
