:root {
  --yellow: #e7bb41;
  --darkBlue: #3d536d;
  --blue: #00aeef;
  --pink: #ef598f;
}

body {
  background-color: var(--yellow);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: white;
}

.vh-50 {
  height: 60vh;
}

.link {
  border: none;
  background-color: transparent;
  font-weight: 800;
  text-decoration: underline;
}

.decline {
  font-size: 1.3em;
}

.permission-title {
  color: white;
  font-weight: 800;
  font-size: 60px;
}

.permission-body {
  font-size: 24px;
}

.modal-content {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.modal-title {
  color: var(--darkBlue);
  font-weight: 900;
  font-size: 36px;
}

.question {
  font-size: 4em;
  font-weight: 800;
  text-align: left;
  color: white;
}

.question-container {
  margin-top: 5rem;
}

.bold {
  font-weight: 800;
}

.review-title {
  font-size: 3.5em;
  font-weight: 700;
}

.prompt {
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 2em;
}

.num-circle {
  width: 1.8em;
  height: 1.4em;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: var(--blue);

  font-size: 3rem;
  font-weight: 800;
  margin-right: 10px;
}

.number {
  font-size: 2.3em;
  font-weight: 900;
  text-align: left;
}

.step-text {
  font-size: 1.5em;
  font-weight: 800;
}

.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--darkBlue);
  border: none;
  padding: 10px;
}

.button:hover,
.media-btn:hover {
  background-color: #4d6889 !important;
}

a {
  text-decoration: none !important;
}

.media-btn {
  padding: 1em;
  margin-right: 2em;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--darkBlue);
  border: none;
}

.record-icon {
  font-size: 3em;
  margin-right: 3px;
}

.stop-btn {
  background-color: white;
  color: var(--pink);
}

.stop-icon {
  font-size: 2.1em;
  margin-right: 6px;
  color: var(--pink);
}

.btn-text {
  font-size: 1.3em;
  margin-bottom: 0px;
  margin-top: 1.5px;
}

.icon {
  margin-right: 5px;
  font-size: 1.5em;
  vertical-align: bottom;
  margin-right: 8px;
}

.voice {
  background-color: white;
  color: var(--darkBlue);
}

.mic {
  margin-right: 5px;
  font-size: 1.5em;
  align-self: baseline;
}

.video-width {
  width: 100%;
}

/* Media Query */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .question,
  .prompt {
    text-align: center;
  }
}
