:root {
  --yellow: #e7bb41;
  --darkBlue: #3d536d;
  --blue: #00aeef;
  --pink: #ef598f;
}

body {
  background-color: var(--yellow);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding-bottom: 50px;
}

code {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: white;
}

.vh-50 {
  height: 60vh;
}

.link {
  border: none;
  background-color: transparent;
  font-weight: 800;
  text-decoration: underline;
}

.decline {
  font-size: 1.2em;
}

.permission-title,
.finalize-title {
  color: white;
  font-weight: 800;
  font-size: 3.75em;
}

.permission-body {
  font-size: 1.4em;
}

.modal-content {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.modal-title {
  color: var(--darkBlue);
  font-weight: 900;
  font-size: 36px;
}

.question {
  font-size: 4em;
  font-weight: 800;
  text-align: left;
  color: white;
}

.bold {
  font-weight: 800;
}

.prompt {
  text-align: left;
  font-size: 1.6em;
  margin-bottom: 2em;
}

.num-circle {
  width: 1.8em;
  height: 1.4em;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: var(--blue);

  font-size: 3rem;
  font-weight: 800;
  margin-right: 10px;
}

.number {
  font-size: 2.3em;
  font-weight: 900;
  text-align: left;
}

.step-text {
  font-size: 1.5em;
  font-weight: 800;
}

.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--darkBlue);
  border: none;
  padding: 10px;
}

.finalize-btn {
  padding: 10px 20px;
  font-size: 14px;
}

.finalize-btn:hover,
.button:hover,
.media-btn:hover {
  background-color: #4d6889 !important;
}

a {
  text-decoration: none !important;
}

.media-btn {
  padding: 1em;
  margin-right: 2em;
  max-width: 100%;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: var(--darkBlue);
  border: none;
}

.record-icon {
  font-size: 3em;
  margin-right: 3px;
}

.stop-btn {
  background-color: white;
  color: var(--pink);
}

.stop-icon {
  font-size: 2.1em;
  margin-right: 6px;
  color: var(--pink);
}

.btn-text {
  font-size: 1.4em;
  margin-bottom: 0px;
  margin-top: 1.5px;
}

.icon {
  margin-right: 5px;
  font-size: 1.5em;
  vertical-align: bottom;
  margin-right: 8px;
}

.voice,
.try-again,
.home {
  background-color: white;
  color: var(--darkBlue);
}

.mic {
  margin-right: 5px;
  font-size: 1.5em;
  align-self: baseline;
}

.media-width {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.submit-modal .modal-content {
  background-color: var(--yellow) !important;
}

.modal-white {
  color: white;
  font-size: 2.5em;
}

/* Media Query */
@media screen and (max-width: 975px) {
  .permission-title {
    font-size: 3em;
  }
  .modal-content {
    padding: 1em;
    overflow: auto;
  }
  .num-circle {
    width: 2.5em;
    height: 1.3em;
    line-height: 50px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 540px) {
  .question,
  .finalize-title {
    font-size: 2.25em;
  }
  .prompt {
    margin-top: 5px;
    font-size: 0.9em;
  }
  .num-circle {
    width: 1.3em;
    height: 1.3em;
    line-height: 0px;
    border-radius: 100%;
    line-height: 30px;
    font-size: 1.5em;
  }
  .galaxy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media-width {
    width: 80%;
  }
}

@media screen and (max-width: 414px) {
  .permission-title {
    font-size: 2em;
  }
  .permission-body,
  .decline {
    font-size: 1em;
  }
  .question,
  .finalize-title {
    font-size: 2.25em;
  }
  .prompt {
    margin-top: 5px;
    font-size: 0.9em;
  }
  .num-circle {
    width: 1.3em;
    height: 1.3em;
    line-height: 0px;
    border-radius: 100%;
    line-height: 30px;
    font-size: 1.5em;
  }
  .step-text {
    font-size: 1em;
  }
  .button {
    padding: 6px;
  }
  .media-btn {
    padding: 0.5em;
  }
  .btn-text {
    font-size: 1.3em;
  }
  .record-icon {
    font-size: 2em;
  }
  .stop-icon {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .modal-white {
    font-size: 1.9em;
  }
  .finalize-btn {
    padding: 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .permission-title {
    font-size: 1.2em;
  }
  .permission-body {
    font-size: 0.8em;
  }
  .question,
  .finalize-title {
    font-size: 2em;
  }
  .button {
    padding: 5px;
    font-size: 0.8em;
  }
  .prompt,
  .step-text {
    font-size: 0.8em;
  }
  .media-btn {
    padding: 0.4em;
  }
  .btn-text {
    font-size: 1em;
  }
  .link {
    font-size: 0.8em;
  }
}
